.bg-wrap {
    position:fixed;
    aspect-ratio: 16/9;
    min-height: 56.25vw;
    min-width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translatex(-50%);
}
.bg-video {
    width: 100%;
    height: 100%;
}
.bg-video iframe {
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 92%;
}
.headernav {
    padding-top: 2%;
}
.lang {
    font-weight: 300;
    display: flex;
    column-gap: 10px;
}
.lang.active {
    position: fixed;
    right: 5%;
    bottom: 50px;
    font-weight: 300;
    display: flex;
    column-gap: 10px;
}
.lien, .lija {
    font-size: 14px;
    font-family: UniversalSans, sans-serif;
    font-weight: 400;
   position: relative;
   padding-bottom: 15px;
   color: white;
}
.lija {
    color: rgba(255, 255, 255, 0.2);
}
.lija::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.lien::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: white;
}
.lien.active, .lija.active {
    font-size: 14px;
    font-family: UniversalSans, sans-serif;
    font-weight: 400;
    position: relative;
    padding-bottom: 15px;
}
.lien.active::after, .lija.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: transparent;
}
.lien.active {
    color: black;
}
.lija.active {
    color: #c9a872;
}
.lija.active::after {
    background-color: #c9a872;
}
.rightnav {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 2%;
}
.rightlink {
    display: flex;
    color: white;
}
.rightlink.active {
    display: none;
}
.navlink {
    padding: 10px;
}
.hbline {
    cursor: pointer;
}
.hbline.active {
    position: relative;
    right: 5%;
    top: 8px;
}
.top.active {
    background-color: #3c1504;
    transform-origin: left;
    transform: rotate(17deg) scaleX(1.07);
    transition: 0.3s;
}
.bottom.active {
    background-color: #3c1504;
    transform-origin: left;
    transform: rotate(-17deg) scaleX(1.07);
    transition: 0.3s;
}
.line {
    content: '';
    background-color: white;
    width: 40px;
    height: 1px;
    margin: 5px;
    transition: 0.3s;
}
.middle {
    content: '';
    background-color: rgba(255, 255, 255, 0.342);
    /* background-color: rgba(60, 21, 4, 0.2); */
    width: 40px;
    height: 1.5px;
    margin: 5px;
}
.middle.active {
    background-color: transparent;
    transition: 0.3s;
}
.menu-back.active {
    position: absolute;
    top: 0;
    background-color: rgba(29, 5, 2, 0.842);
    width: 100%;
    height: 100vh;
}
.hbmenu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 40vw;
    max-width: 750px;
    height: 100vh;
    display: flex;
    right: 0;
    padding: 0 5% 0 49px;
    z-index: -1;
    overflow-y: auto;
}
.hbmenu.active {
   z-index: 2;
}
.hbbody {
    margin-right: auto;
    width: 85%;
}
.hbheader {
    position: relative;
    padding: 10% 0 5% 0;
}
.hbheader::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(60, 21, 4, 0.2);
}
.title {
    font-size: 18px;
}
.P {
    margin-top: 5px;
}
.titleSPN {
    font-family: TsukuGoPr5-R, sans-serif;
    font-size: 11px;
    color: #795a39;
}
.nopc {
    display: none;
}
.hbONlink {
    position: relative;
    padding-bottom: 20px;
}
.hbONlink::after, .search::after, .content::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(60, 21, 4, 0.2);
}
.hblink {
    display: flex;
    padding-top: 20px;
}
.hblink > a {
    display: flex;
    flex-direction: column;
}
.name {
    font-size: 22px;
}
.nameSPN {
    font-size: 11px;
    color: #795a39;
}
.search {
    position: relative;
    padding: 20px 0;
}
.content {
    position: relative;
    padding: 20px 0;
}
.contenttitle {
    font-size: 13px;
    color: #795a39;
}
.contentname {
    padding-top: 8px;
    font-size: 13px;
}
.info {
    padding: 20px 0 50px 0;
    font-size: 13px;
}
.infoP {
    padding-top: 10px;
    color: #795a39;
}

@media (max-width: 767px) {
    .rightlink {
        display: none;
    }
    .hbmenu {
        width: 100%;
        max-width: 767px;
    }
    .lang.active {
        position: absolute;
        right: 5%;
        top: 60px;
        height: 48px;
    }
}