body {
    font-family: Inter, Zen Kaku Gothic New, sans-serif;
    height: 3000px;
    background-color: #f7f7f7;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}
#hb-name {
    display: flex;
    margin-left: 40px;
}
.left-position {
    display: flex;
    align-items: center;
    gap: 80px;
}
.logo svg {
    fill: black;
    width: 180px;
    margin-top: 8px;
}

.hb-btn {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
}
.hb-btn > div {
    height: 3px;
    width: 28px;
    background-color: black;
    border-radius: 2px;
    margin: 4px;
}
.hb-btn > div:nth-of-type(1) {
    bottom: 0px;
}
.hb-btn > div:nth-of-type(2) {
    bottom: 8px;
}
.hb-btn > div:nth-of-type(3){
    bottom: 16px;
}
a {
    text-decoration: none;
    color: black;
}
.nav-menu {
    display: flex;
    background-color: #fff;
    border-radius: 99999px;
    gap: 0 22px;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 23px;
    margin-top: 15px;
}
.nav-maru {
    display: flex;
    margin-right: 40px;
}
.right-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 999px;
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}
.right-link svg {
    fill: black;
    width: 18px;
}