body {
    width: 100%;
    min-width: 1200px;
}
.top {
    height: 500px;
    position: relative;
}
.top::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 39%;
    background-image: url(https://www.pasconet.co.jp/choujuku/assets/images/content/content/bg01.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(70%);
}
.base-picture-p {
    position: absolute;
    top: 31.5%;
    left: 11.7%;
    z-index: 3;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
}
.top-pictures {
    position: relative;
}
.item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
}
.zero {
    position: relative;
    z-index: 1;
}
.top-pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    max-width: 1100px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 99;
    padding-bottom: 60px;
}
.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    position: relative;

    .swiper-slide {
        max-width: 175px;

        .link-picture::before {
            display: none;
            content: "";
            width: 440px;
            height: 150px;
            background-color: #005099;
            border-radius: 440px / 150px;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            opacity: 0;
            transform: translate(-50%, 100%);
            transition: transform .3s, opacity .3s;
        }
        .link-picture {
            background-color: white;
            border-radius: 20px;
            padding: 30px 5px 15px 5px;
            text-align: center;
            position: relative;
    
            .select-picture {
                width: 175px;
            }
            .txt {
                font-size: 14px;
                font-weight: bold;
                color: #005099;
            }
        }
        .link-picture img {
            width: 120px;
            margin: 0 auto 10px auto;
            position: relative;
        }
    }
    .swiper-slide a::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: white;
        border: 2px solid #005099;
        border-radius: 10px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 5;
    }
}




.slide-picture {
    display: flex;
    position:  relative;
    gap: 0 50px;
    z-index: 12;
    justify-content: center;
    overflow: hidden;
}
.slide-picture img {
    border-radius: 15px;
}
.top-pictures {
    position: relative;
}
.one.active {
    z-index: 9;
}
.two.active {
    z-index: 9;
}
.three.active {
    z-index: 9;
}
.four.active {
    z-index: 9;
}
.five.active {
    z-index: 9;
}
.six.active {
    z-index: 9;
}